@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: gray;
  height: 100vh;
  overflow-y: hidden;
}

/*-------------------*/
#titlebar {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 99;
  display: block;
  height: 32px;
  width: calc(100% - 0px);
  /*Compensate for body 1px border*/
  background: #323233;
  padding: 4px 0px 0px 4px;
  color: lightgray;
}

#titlebar #drag-region {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px fit-content(300px) auto fit-content(200px);
      grid-template-columns: 30px fit-content(300px) auto fit-content(200px);
  grid-auto-rows: 32px;
}

#app-icon {
  margin: -4px 0 4px 0;
  -ms-grid-column: 1;
  grid-column: 1;
}

#app-icon img {
  height: 100%;
}

#menubar {
  -ms-grid-column: 2;
  grid-column: 2;
  margin: -4px 0 4px 0;
  z-index: 100;
  -webkit-app-region: no-drag;
  margin-left: 10px;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  display: block;
}

#menubar ul {
  list-style: none;
}

#menubar li {
  padding: 0;
  margin: 0;
}

#menubar a {
  padding: 4px 26px;
  display: block;
  color: lightgray;
  height: 100%;
  text-decoration: none;
  background: #323233;
}

#menubar > ul > li {
  float: left;
  position: relative;
}

#menubar > ul > li > a {
  padding: 0px 8px;
  line-height: 32px;
}

#menubar ul ul {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#menubar ul ul .separator {
  border-top: 1px solid darkgray;
  height: 1px;
  margin: 4px 10px;
}

#menubar .disabled {
  color: darkgray;
}

#menubar ul li a:not(.disabled):hover {
  background: #3b5365;
}

#menubar ul ul li a:not(.disabled):hover {
  background: #094771;
}

#menubar ul ul {
  display: none;
  position: absolute;
  min-width: 250px;
  top: 100%;
  left: 0;
  padding: 8px 0;
  background: #323233;
}

#menubar ul ul li a.checked:before {
  content: "✓";
  /* placeholder for the SVG */
  position: absolute;
  left: 8px;
  /* place the SVG at the start of the padding */
}

#menubar > ul.opened > li:hover > ul {
  display: block;
}

#menubar ul ul ul {
  display: block;
  visibility: hidden;
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
  top: -6px;
  left: calc(100% - 0px);
  padding: -6px 0;
}

#menubar ul ul li:hover > ul {
  display: block;
  visibility: visible;
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

#menubar ul ul li {
  position: relative;
}

#menubar ul ul ul li:hover a {
  background: #094771;
}

#caption {
  -ms-grid-column: 3;
  grid-column: 3;
  margin: -4px auto 4px auto;
  overflow: hidden;
}

#caption span {
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sys-btns {
  -ms-grid-column: 4;
  grid-column: 4;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46px)[3];
      grid-template-columns: repeat(3, 46px);
  -webkit-app-region: no-drag;
}

#sys-btns .button {
  margin-top: -4px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#sys-btns .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#sys-btns .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#sys-btns #min-button {
  -ms-grid-column: 1;
  grid-column: 1;
}

#sys-btns #max-button,
#sys-btns #restore-button {
  -ms-grid-column: 2;
  grid-column: 2;
}

#sys-btns #restore-button {
  display: none !important;
}

#sys-btns #close-button {
  -ms-grid-column: 3;
  grid-column: 3;
}

#sys-btns #close-button:hover {
  background: #e81123 !important;
}

#sys-btns #close-button:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.maximized #sys-btns #restore-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.maximized #sys-btns #max-button {
  display: none;
}

#main {
  display: none;
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#main textarea {
  width: 100%;
}

#main .textwrapper {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
}

#main p {
  margin-top: 10px;
  color: gray;
}

#main2 {
  display: none;
  position: static;
  margin: 0;
  padding: 0 50px;
  color: white;
}

#react-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: blue;
}

#react-root #youTubePlayer1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: 100%;
  padding: 50px;
  background-color: black;
  /* padding-bottom: 56.25%; */
}

#react-root #youTubePlayer1 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

#react-root #titlebar-placeholder {
  height: 32px;
}

#react-root #statusbar {
  height: 20px;
  background-color: #323233;
}

.notification-close {
  position: absolute;
  right: 5px;
  bottom: 5px;
  /* This are approximated values, and the rest of your styling goes here */
}
/*# sourceMappingURL=style.css.map */