*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #1a2933;
}

/*-------------------*/
body {
  border: 1px solid #48545c;
  overflow-y: hidden;
  color: #fff;
}

#titlebar {
  font-family: "Segoe UI", sans-serif;
  padding: 0;
  margin: 0;
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  /*Compensate for body 1px border*/
  background: #254053;
  color: lightgray;
}

#titlebar #drag-region {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px fit-content(300px) auto fit-content(200px);
      grid-template-columns: 30px fit-content(300px) auto fit-content(200px);
  grid-auto-rows: 32px;
}

#app-icon {
  -ms-grid-column: 1;
  grid-column: 1;
}

#app-icon img {
  height: 100%;
}

#menubar {
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-app-region: no-drag;
  margin-left: 10px;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  display: block;
}

#menubar ul {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #254053;
}

#menubar ul a {
  color: lightgray;
  height: 100%;
  background: #254053;
  text-decoration: none;
  padding: 7px 8px;
  display: block;
}

#menubar ul li {
  padding: 0;
  margin: 0;
  height: 100%;
}

#menubar .separator {
  border-top: 1px solid darkgray;
  height: 1px;
}

#menubar .disabled {
  color: darkgray;
}

#menubar li a:not(.disabled):hover {
  background: #3b5365;
}

#menubar > ul > li {
  float: left;
  position: relative;
}

#menubar > ul.opened > li:hover > ul {
  display: block;
}

#menubar ul ul {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: none;
  position: absolute;
  min-width: 250px;
  top: 100%;
  left: 0;
}

#menubar ul ul a {
  padding: 7px 26px;
}

#menubar ul ul li {
  position: relative;
}

#menubar ul ul li ul {
  display: block;
  visibility: hidden;
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
  top: -6px;
  left: calc(100% - 0px);
  padding: -6px 0;
}

#menubar ul ul li:hover > ul {
  display: block;
  visibility: visible;
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

#caption {
  -ms-grid-column: 3;
  grid-column: 3;
  margin: 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 0.8rem;
}

#caption span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
}

#sys-btns {
  -ms-grid-column: 4;
  grid-column: 4;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46px)[3];
      grid-template-columns: repeat(3, 46px);
  -webkit-app-region: no-drag;
}

#sys-btns .button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#sys-btns .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#sys-btns .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#sys-btns #min-button {
  -ms-grid-column: 1;
  grid-column: 1;
}

#sys-btns #max-button,
#sys-btns #restore-button {
  -ms-grid-column: 2;
  grid-column: 2;
}

#sys-btns #close-button {
  -ms-grid-column: 3;
  grid-column: 3;
}

#sys-btns #close-button:hover {
  background: #e81123 !important;
}

#sys-btns #close-button:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #sys-btns .icon {
    width: 10px;
    height: 10px;
  }
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

textarea {
  width: 100%;
}

.textwrapper {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
}

p {
  margin-top: 10px;
  color: gray;
}
/*# sourceMappingURL=style.css.map */