@import "./_utils";

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #1a2933;
}

/*-------------------*/
body {
  border: 1px solid #48545c;
  overflow-y: hidden;
  color: #fff;
}

$TITLEBAR_HEIGHT: 30px;

#titlebar {
  display: block;
  position: fixed;
  height: $TITLEBAR_HEIGHT;
  width: calc(100% - 2px); /*Compensate for body 1px border*/
  background: #254053;
  padding: 4px;
  color: #fff;

  #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: 16px auto 138px;
    grid-auto-rows: ($TITLEBAR_HEIGHT - 8);
  }
}

#app-icon {
  grid-column: 1;
  img {
    margin: -3px;
    height: 130%;
  }
}

#caption {
  grid-column: 2;
  margin: 0 ($TITLEBAR_HEIGHT * 15/30);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  // font-size: calc(12 / 16) rem;
  font-size: rem($TITLEBAR_HEIGHT * 12/30);

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5rem;
  }
}
#sys-btns {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  -webkit-app-region: no-drag;

  .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  #min-button {
    grid-column: 1;
  }
  #max-button,
  #restore-button {
    grid-column: 2;
  }

  #close-button {
    grid-column: 3;
    &:hover {
      background: #e81123 !important;
    }
    &:active {
      filter: brightness(80%);
    }
  }
} // #sys-btns

#restore-button {
  // not work in #sys-btn scope.
  display: none !important;
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #sys-btns .icon {
    width: 10px;
    height: 10px;
  }
}

.maximized {
  // #titlebar {
  //   width: 100%;
  //   padding: 0;
  // }

  // #window-title {
  //   margin-left: 12px;
  // }

  #restore-button {
    display: flex !important;
  }

  #max-button {
    display: none;
  }
}

// content sections
#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

textarea {
  width: 100%;
}
.textwrapper {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
}
p {
  margin-top: 10px;
  color: gray;
}
